<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	
		<style>
			body{background-color: #212121;}
			p{color: white;}
			h2{color: white;}
			h4{color: purple;}
			h5{color: white}
			span{color: lime;}
			input{color: white;}
			form{color: white;}
			Nome, RG{color: purple;}
			th{color: white}
			
			
		</style>
		
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 	<!--JavaScript at end of body for optimized loading-->
    	<script type="text/javascript" src="js/materialize.min.js"></script>
		<title> "" </title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
      	
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js" integrity="sha256-PtzTX1ftmEmj8YUiAX0wTIQ+ddTAGVt2MiLMsGsAMxM=" crossorigin="anonymous"></script>      	
      	<link rel="stylesheet" href="eventappCss/eventappCss.css"/>
      	
      	<script >
      	function maskDate(c){
      		var date = $('.' + c).text();
      	    var newDate = new Date(date);  
      	    var result = (newDate.getDate() +1) + '/' + (newDate.getMonth() +1) + '/' + newDate.getFullYear();
      	    $('.' + c).text(result);
      	}	
      	</script>
      	           	
	</head>
	<body>
	<!-- Setar o nome do title -->
		<script>
			console.log($("#title").text());
			setInterval(function(){$(document).attr("title", $("#title").text());}, 20);
		
		//Mask
			$(document).ready(function(){
				$('.RgMask').mask('0.000.000', {reverse: true});
				
			});		
		
			$(document).ready(function () {
			    maskDate("DateC");
			    
			});
			
		</script>
		
			<header>
				<nav class="green">
					<div class="nav-wrapper">
					<a href="#" class="brand-logo"> Evento: <span id="title" th:text="${event.nome}"></span>! </a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a href=/eventos class="waves-effect waves-light btn"><i class="material-icons right">redo</i>Voltar para eventos</a></li>
							<li><a href=/ class="waves-effect waves-light btn"><i class="material-icons right">redo</i>Página inicial</a></li>					
						</ul>
					</div>
				</nav>
			</header>
		<br>
		<div th:each="event: ${event}" class="container boxWhite">
			<div class="row">
				<p><u>Event Name:</u> <span th:text="${event.nome}"></span></p>				
				<p><u>Where:</u> <span th:text="${event.local}"></span></p>				
				<p><u>Date:</u> <span class="DateC" th:text="${event.data}"> </span></p>				
				<p><u>Time:</u> <span th:text="${event.hora}"></span></p>
			</div>
		</div>
		
		<div class="container boxWhite">
			<h5>Escreva o contato que deseja adicionar, com os dados solicitados abaixo:</h5>
			<form method="post">
				Nome: <input type="text" value="" name="nomeConvidado"/>
				RG: <input class="RgMask" type="text" value="" name="rg">
				<button class="waves-effect waves-light btn" style="width: 220px; left: 76%; position: relative;" type="submit">Adicionar Convidado</button>			
			</form>	
		</div>	
		
		<div class="container"> <h5>Lista de Convidados:</h5></div>
			<table class="container tableFifteenPx">
				<thead>
					<tr>
						<th>Nome Convidado:</th>
						<th>RG:</th>
						<th>Excluir</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="guests : ${guests}">
						<td><span th:text="${guests.nomeConvidado}" ></span></td>
						<td><span th:text="${guests.rg}"></span></td>
						<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('CE#deleteGuest').arg(0, guests.rg)).build()}"><i class="material-icons">delete</i></a></td>
																			
					</tr>
					
				</tbody>
			</table>
			<br>
			<br>
	</body>

	

	<footer>
	<br>
		<p><i><b>By: Wryt</b></i>
	</footer>	

</html>