<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<style>
			body{background-color: #212121;}
		
			td{color: white;}
			tr{color: lime;}
			h3{color: white}
			obs{color: yellow;}
			h9{color: orange;}
			h10{color: MediumVioletRed;}
			teste{color: grey;}
			
		</style>
		
		<title>Eventos</title>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>      	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		
		<link rel="stylesheet" href="eventappCss/eventappCss.css" />	
	</head>
	
	<body>
		<script>

			$(document).ready(function () {
				$('.DateC').find('span').each(function () {
					var date = $(this).text();
					console.log(date + '\n');
				    var newDate = new Date(date);  
				    var result = (newDate.getDate() +1) + '/' + (newDate.getMonth() +1) + '/' + newDate.getFullYear();
				    $(this).text(result);					
				});
			});
		
		</script>
		
		<header>	
  			<nav class="green">
    			<div class="nav-wrapper">
      				<a href="#" class="brand-logo">Eventos Cadastrados</a>
      				<ul id="nav-mobile" class="right hide-on-med-and-down">
      					<li><a href=/cadastrarEvento class="waves-effect waves-light btn"><i class="material-icons right">add_circle</i>Cadastrar um evento</a></li>
        				<li><a href=/ class="waves-effect waves-light btn"><i class="medium material-icons right" >redo</i>Página inicial</a></li>
      				</ul>
    			</div>
  			</nav>	
		</header>
		
		<br>
		<table class="container boxBlue">
			<thead>
				<tr>
					<th>Nome:</th>
					<th>Local:</th>
					<th>Data:</th>
					<th>Horario:</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="event : ${event}">			
					<td><a th:href="${(#mvc.url('CE#detalhesEvent').arg(0, event.id)).build()}"><span th:text="${event.nome}"> </span></a></td>
					<td><h9><span th:text="${event.local}"><h9></span></td>
					<td class="DateC"><h10><span th:text="${event.data}"><h10></span></td>
					<td><span th:text="${event.hora}"></span></td>
					<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('CE#deleteEvent').arg(0, event.id)).build()}"><i class="material-icons">delete</i></a></td>
				</tr>
				</tbody>
			
     	</table>
    </body>
 		<!--JavaScript at end of body for optimized loading-->
       	   	
	<footer>
	<br>
	<br> </br>
	<br> </br>
	
	<obs>OBS: Clique no nome do evento para saber mais detalhes do evento :) </obs>		
	<br> </br>
	<br> </br>
	
	
	</footer>

</html>
