.boxWhite{
	box-shadow: 1px 1px 6px white;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 75px; 
}

.boxBlue{
	box-shadow: 1px 1px 6px #2ccddb; 
	padding-left: 20px;
	margin-buttom: 7px;
}

.tableFifteenPx{
	width: 50%;
}